/*--common styles--*/
/* open-sans-regular - latin */
/* open-sans-300 - latin */
@font-face {
  font-family: 'opensans-light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensans-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/opensans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/opensans-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/opensans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'opensans-regular', sans-serif;
  line-height: 24px;
  background: #f3f3f3; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }
a:hover, a:focus {
  text-decoration: none;
  color: #000; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.height_full {
  height: 100%; }

.flex_middle {
  display: flex;
  justify-content: center;
  align-items: center; }

button:focus {
  outline: none; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.singleline-truncate {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical; }

.multi-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
.italic {
  font-style: italic;
}
/*--common styles--*/
/*--header styles--*/
.header_wrapper {
  padding: 23px 0px;
  background: #fff;
}
header .logo a {
  display: block;
}
header .logo a > img {
  width: auto;
  max-height: 50px;
}
/*--header styles--*/
/*--carousel custom styles--*/
.banner_anim .owl-carousel.owl-drag .owl-item {
  margin-right: 0px !important;
}
.owl-theme .owl-dots {
  display: none;
}
.banner_anim .owl-theme .owl-nav {
  margin-top: 15px;
}
.banner_anim .owl-carousel .owl-nav button.owl-next, .banner_anim .owl-carousel .owl-nav button.owl-prev {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #d5d5d5;
  margin: 0px;
  color: #777;
}
.banner_anim .owl-carousel .owl-nav button.owl-next > span, .banner_anim .owl-carousel .owl-nav button.owl-prev > span {
  font-size: 30px;
  line-height: 28px;
  display: inline-block;
  margin-top: -2px;
}
.banner_anim .owl-carousel .owl-nav button.owl-prev {
  margin-right: 25px !important;
}
.banner_anim .owl-carousel .owl-nav button.owl-next {
  margin-left: 25px !important;
}
.banner_anim .owl_controlWrapper {
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  z-index: 1;
}
.banner_anim .owl_controlWrapper .owl_controlInnr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}
.banner_anim .owl_controlWrapper .owl_controlInnr a.button.secondary {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_anim .owl_controlWrapper .owl_controlInnr a.button.secondary .glyphicon {
  color: #777;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  width: 15px;
  line-height: 28px;
}
.banner_anim .owl_controlWrapper .owl_controlInnr a.button.secondary.stop,
.banner_anim .owl_controlWrapper .owl_controlInnr a.button.secondary.play {
  display: none;
}
.banner_anim .owl_controlWrapper .owl_controlInnr .owl_controlCenter.paused a.button.secondary.stop {
  display: flex;
}
.banner_anim .owl_controlWrapper .owl_controlInnr .owl_controlCenter.played a.button.secondary.play {
  display: flex;
}
.item_caption {
  left: 0px;
  right: 0px;
  bottom: -65px;
  background: rgba(0,0,0,0.65);
  padding: 17px;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.item_caption h1, .item_caption h2, .item_caption h3,
.item_caption h4, .item_caption h5, .item_caption h6 {
  margin-bottom: 15px;
  color: #fff;
}
.item_caption p {
  margin-bottom: 0px;
  color: #999;
  font-size: 13px;
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
}
.banner_anim .owl-carousel.owl-drag .owl-item:hover .item_caption {
  background: rgba(0,0,0);
  bottom: 0px;
}

/*--carousel custom styles end--*/
/*--location section--*/
section.location_section {
  padding: 75px 0px 30px;
}
section.location_section::before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  background: #fff;
  height: 195px;
  width: 100%;
  z-index: -1;
}
.location_innrWrapper {
  padding: 0px 15px;
}
.location_container {
  flex-basis: 50%;
}
.location_container h1, .location_container h2, .location_container h3,
.location_container h4, .location_container h5, .location_container h6 {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #c58335;
  font-size: 22px;
  text-align: center;
}
.location_container h1 > a, .location_container h2 > a, .location_container h3 > a,
.location_container h4 > a, .location_container h5 > a, .location_container h6 > a {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #c58335;
  font-size: 22px;
  text-align: center;
}
.location_container h1 > a:hover, .location_container h2 > a:hover, .location_container h3 > a:hover,
.location_container h4 > a:hover, .location_container h5 > a:hover, .location_container h6 > a:hover {
  color: #000;
}
.location_container.location_leftContainer {
  padding-right: 20px;
}
.location_container.location_rightContainer {
  padding-left: 20px;
}
.location_container .box_shadow {
  -webkit-box-shadow: 0px 1px 4px #d2cfcf;
  -moz-box-shadow: 0px 1px 4px #d2cfcf;
  -ms-box-shadow: 0px 1px 4px #d2cfcf;
  box-shadow: 0px 1px 4px #d2cfcf;
}
.location_main {
  padding: 15px;
  background: #fff;
}
.location_map iframe {
  width: 100%;
  height: 420px;
}
.location_address a {
  display: block;
  padding: 35px 20px 0px;
}
.address_section {
  min-height: 115px;
}
.address_section p {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
}
.address_building {
  height: 110px;
  width: 170px;
  float: left;
  position: relative;
  margin-right: 35px;
}
.address_building img {
  transform: translateY(-5px);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
/*--location section end--*/
/*--home testimonials--*/
section.hm_testimonial_section {
  background: #fff;
  padding: 75px 0px;
}
.hm_testimonial_innrWrapper {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
}
.hm_testimonial_innrWrapper h1, .hm_testimonial_innrWrapper h2, .hm_testimonial_innrWrapper h3,
.hm_testimonial_innrWrapper h4, .hm_testimonial_innrWrapper h5, .hm_testimonial_innrWrapper h6 {
  color: #c58335;
  margin-bottom: 20px;
  font-size: 19px;
  font-family: opensans-bold;
}
.hm_testimonial_innrWrapper p {
  font-size: 15px;
}
.hm_testimonial_innrWrapper .author_name {
  font-family: opensans-bold;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 0px;
}
.hm_testimonial_innrWrapper .owl-theme .owl-nav {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  text-align: left;
  clear: both;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hm_testimonial_innrWrapper .owl-theme .owl-nav button > span {
  visibility: hidden;
}
.hm_testimonial_innrWrapper button.owl-prev, button.owl-next {
  width: 40px;
  height: 40px;
  padding: 0px !important;
  margin: 0px !important;
}
.hm_testimonial_innrWrapper button.owl-prev:hover, .hm_testimonial_innrWrapper button.owl-next:hover {
  opacity: 0.5;
}
.hm_testimonial_innrWrapper button.owl-prev {
  background: url('../images/prev.png') no-repeat center center !important;
  background-size: cover !important;
  float: left;
  -webkit-transform: translateX(-85px);
  -moz-transform: translateX(-85px);
  -ms-transform: translateX(-85px);
  transform: translateX(-85px);
}
.hm_testimonial_innrWrapper button.owl-next {
  background: url('../images/next.png') no-repeat center center !important;
  background-size: cover !important;
  float: right;
  -webkit-transform: translateX(85px);
  -moz-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}
.hm_testimonial_innrWrapper button.owl-prev.disable {
  background: url('../images/prev_disable.png') no-repeat center center !important;
}
.hm_testimonial_innrWrapper button.owl-next.disable {
  background: url('../images/next_disable.png') no-repeat center center !important;
}

/*--home testimonials end--*/
/*--footer styles--*/
footer {
  background: url('../images/footer_bg.png') no-repeat 50% 100%;
  background-size: cover;
}
.footer_topWrapper {
  padding: 75px 0px;
  text-align: center;
}
.footer_topWrapper h1, .footer_topWrapper h2, .footer_topWrapper h3, 
.footer_topWrapper h4, .footer_topWrapper h5, .footer_topWrapper h6{
  margin-top: 0px;;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.9px;
}
.social_links ul li, .footer_menuLink ul li {
  float: left;
  margin-right: 10px;
}
.social_links ul li a {
  display: block;
  width: 50px;
  height: 50px;
}
.footer_linkWrapper {
  background: #000;
  text-align: center;
  padding: 20px 0;
}
.footer_linkWrapper > p {
  color: #777;
  font-size: 13px;
}
.footer_linkWrapper a {
  color: #fff;
}
.footer_linkWrapper > p > a {
  color: #fff;
}
.footer_menuLink {
  padding-top: 25px;
}
.footer_menuLink ul li {
  margin: 0 20px;
}
/*--footer styles end--*/

@media only screen and (max-width: 1024px) {
  .location_address a {
    padding: 35px 0px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .address_building {
    width: 130px;
    margin-right: 15px;
  }
  .location_map iframe {
    height: 350px;
  }
  .hm_testimonial_innrWrapper {
    max-width: 550px;
  }
}
@media only screen and (max-width: 830px) {
  .address_section {
    min-height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .address_building {
    float: none;
    height: auto;
    background: #f1f1f1;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .address_building img {
    position: relative;
    transform: translateY(0px);
    width: 150px;
  }
  .location_map iframe {
    height: 200px;
  }
  .location_address a {
    padding: 10px 0px 0px;
  }
  .address_section {
    min-height: 130px;
  }
}
@media only screen and (max-width: 767px) {
  .hm_testimonial_innrWrapper {
    max-width: 400px;
  }
  section.hm_testimonial_section {
    padding: 45px 0px;
  }
  .footer_menuLink ul li {
    margin: 0 7px;
  }
}
@media only screen and (max-width: 600px) {
  section.location_section {
    padding: 45px 0px 30px;
  }
  section.location_section::before {
    display: none;
  }
  .location_innrWrapper {
    display: block;
    padding: 0px;
  }
  .location_container.location_leftContainer, .location_container.location_rightContainer {
    flex-basis: 100%;
    padding: 0px;
  }
  .location_container.location_leftContainer {
    margin-bottom: 20px;
  }
  .address_section {
    min-height: auto;
    text-align: center;
  }
  .footer_menuLink ul li {
    margin: 0 7px;
    float: none;
  }
  .hm_testimonial_innrWrapper .owl-theme .owl-nav {
    position: relative;
    top: 0%;
    left: 0px;
    width: auto;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    text-align: center;
  }
  
  .hm_testimonial_innrWrapper button.owl-prev,
  .hm_testimonial_innrWrapper button.owl-next {
    float: none;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    margin: 0px 5px !important;
  }
  .hm_testimonial_innrWrapper .author_name {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .hm_testimonial_innrWrapper {
    max-width: 100%;
    padding: 0 10px;
  }
}
