/*--common styles--*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  line-height: 21px;
 }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }
a:hover, a:focus {
  text-decoration: none;
  color: #000; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.height_full {
  height: 100%; }

.flex_middle {
  display: flex;
  justify-content: center;
  align-items: center; }

button:focus {
  outline: none; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.singleline-truncate {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical; }

.multi-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
.italic {
  font-style: italic;
}
/*--common styles--*/
/*--header styles--*/
header {
  background: #0e3655;
}
.header_wrapper {
  padding: 10px 0px;
}
header .logo a {
  display: block;
  color: #e4e3e3;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
header .logo a > img {
  width: auto;
  max-height: 50px;
}
.header_features ul li a {
  display: block;
  color: #fff;
  font-size: 21px;
  line-height: 21px;
  border: 1px solid #4590ca;
  padding: 5px 7px;
  background: #2d6692;
}
.header_features ul li a > span {
  display: block;
  line-height: 16px;
}
.top_wrapper {
  background: #c7e2f7;
  border: 1px solid #a2c3dc;
  margin: 25px 0px;
  padding: 30px;
}

/*--header styles--*/
