/*--common styles--*/
/* open-sans-regular - latin */
/* open-sans-300 - latin */
@font-face {
  font-family: 'opensans-light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensans-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/opensans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/opensans-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/opensans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/opensans-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'opensans-regular', sans-serif;
  line-height: 24px;
 }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }
a:hover, a:focus {
  text-decoration: none;
  color: #000; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.height_full {
  height: 100%; }

.flex_middle {
  display: flex;
  justify-content: center;
  align-items: center; }

button:focus {
  outline: none; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.singleline-truncate {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical; }

.multi-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
.italic {
  font-style: italic;
}
/*--common styles--*/
/*--header styles--*/
.header_wrapper {
  padding: 23px 0px;
}
header .logo a {
  display: block;
}
header .logo a > img {
  width: auto;
  max-height: 50px;
}
/*--header styles--*/
